.wallet-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.button-text {
    width: 100%;
}

.dc-btn {
    background-color: #cc3e3e;
    color: white;
    margin-left: 20px;
    align-self: flex-end;
}

.gated-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.gated-container > button {
    gap: 12px;
    margin: 25px 0;
}

.dc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh;
    padding: 10px 20px;
}

.sol-disconnect-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
